@import "compass/css3";

.spiff-notice{
    text-align: center;
    background-color: #fcf8e3;
    padding: .5em 0;
}

body{
    
    &.page-template-homepage{
        .entry-content{
                padding: 0 10% 2em;
        }
        #homepage-picks{
            padding:1em;
            border:none;
            .wpsstm-playlists-loop{
            }
        }
        #menu-home-picks{
            
            list-style: none;
            text-align:center;
            width:100%;
            display:block;
            font-size:1.2em;
            
            li{
                a{
                    text-decoration: underline;
                    padding:.25em;
                    @include border-radius(3px);
                }
                &:not(:hover):not(.ui-tabs-active){
                    @include opacity(.3);
                }
                
            }
        }

        #homepage-picks{
            clear:both;
        }

        #wpsstm-picks-widgets{
            clear:both;
            position:relative;
            .wpsstm-widget-picks{
                position:relative;
                margin: 1em 8.3333%;
                .wpsstm-playlists-loop{
                    .hentry {
                    }
                }
                .wpsstm-widget-more-picks{
                    @extend .spiff-notice;
                }
            }

        }
        
    }
    
    button{
        font-size: 1.4rem;
        padding: 0.8214em 1.5714em;
        background-color: rgba(51, 51, 51, 0.7);
        border: 0;
        color: #fff;
        cursor: pointer;
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        &:hover{
            background-color: rgba(51, 51, 51, 0.8);
        }
    }
    
    &.single{
        article{
            .post-thumbnail{
                padding-top: 1.5em;
                img{
                    max-height: 150px;
                    width: auto;
                }
            }
        }
    }

    .wpsstm-playlists-loop{
        
        position:relative;
        margin: 1em 8.3333%;
        box-sizing: border-box;
        /* clear fix */
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        .masonry-sizer{
            position:absolute;
        }
        .masonry-sizer,
        .hentry{
            float:left;
            margin:0;
            margin:.4em;
            width:calc(25% - .8em);

            .post-thumbnail{
                margin-bottom:1em;
            }
            .entry-title{
                font-size:1em;
                a{
                    border-bottom: none;
                }


                text-align:center;
            }
            .entry-content{
                padding: .5em;
            }
            .entry-metas{
                font-size: .8em;
                
                div{
                    &.spiff-station-tags{
                        text-align:right;
                        padding: .5em;
                        line-height: .8em;
                        font-weight: 100;
                        font-size: .9em;
                        ul{
                            margin:0;
                            list-style-type: none;

                            li{
                                display:inline;
                                a{
                                    color:#d5c5bf;
                                    text-transform: uppercase;
                                    font-size: 0.8em;
                                    font-family: sans-serif;
                                    &:before{
                                        font-family: FontAwesome;
                                        content: "\f292";
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    #reddit-scrobbling-notice {
      background: rgba(252, 248, 227, 0.38);
      padding: 0.25em 1em;
    }
}

#wpsstm-frontend-wizard-recent ul li a{
    border:none;
}