@charset "UTF-8";
/* line 3, ../scss/spiff.scss */
body {
  /*accordion menu
  //http://codepen.io/anon/pen/MwoWQy
  */
}
/* line 5, ../scss/spiff.scss */
body button {
  font-size: 1.4rem;
  padding: 0.8214em 1.5714em;
  background-color: rgba(51, 51, 51, 0.7);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 15, ../scss/spiff.scss */
body button:hover {
  background-color: rgba(51, 51, 51, 0.8);
}
/* line 23, ../scss/spiff.scss */
body ul#menu-radios {
  list-style: none;
  padding: 0;
  position: relative;
}
/* line 27, ../scss/spiff.scss */
body ul#menu-radios li {
  margin: 0;
  text-align: center;
  position: relative;
  /*
  &.current-menu-item {
      > a {
      }
      ul.sub-menu {
        //display: block;
      }
  }
  */
  /*
  &#menu-item-19674, //local
  &#menu-item-326, &#menu-item-215,{
      a{
          @extend button;
          
      }
      a:hover,&.current-menu-item a{
      }
      .current-menu-item{
          @include opacity(0.8);
      }
  }
  &#menu-item-326{ //pépites
      a{
      }
  }
  &#menu-item-215 { //wizard
      border:none;
  }
  &#menu-item-3{
      border-top: none;
      margin-top: 1em;
  }
  */
}
/* line 32, ../scss/spiff.scss */
body ul#menu-radios li ul.sub-menu {
  list-style: none;
  overflow: hidden;
}
/* line 35, ../scss/spiff.scss */
body ul#menu-radios li ul.sub-menu li {
  border: none;
}
/* line 41, ../scss/spiff.scss */
body ul#menu-radios li:not(.current-menu-ancestor) ul.sub-menu {
  display: none;
}
/* line 49, ../scss/spiff.scss */
body ul#menu-radios li.current-menu-ancestor > a, body ul#menu-radios li.current-menu-item > a {
  color: black;
}
/* line 54, ../scss/spiff.scss */
body ul#menu-radios li.menu-item-has-children > a:after {
  font-family: FontAwesome;
  content: "\f107";
  position: absolute;
  right: 20px;
}
/* line 62, ../scss/spiff.scss */
body ul#menu-radios li.menu-item-has-children.current-menu-active > a:after {
  content: "\f106";
}
/* line 79, ../scss/spiff.scss */
body ul#menu-radios li a {
  line-height: 2em;
  padding: 0 1em;
  color: grey;
  width: 100%;
  display: block;
  transition: background .3s ease;
}
/* line 83, ../scss/spiff.scss */
body ul#menu-radios li a:hover {
  color: #444;
}
/* line 93, ../scss/spiff.scss */
body ul#menu-radios li li {
  font-size: 0.9em;
}
/* line 128, ../scss/spiff.scss */
body.single article .post-thumbnail {
  padding-top: 1.5em;
}
/* line 130, ../scss/spiff.scss */
body.single article .post-thumbnail img {
  max-height: 150px;
  width: auto;
}
/* line 138, ../scss/spiff.scss */
body .wpsstm-playlists-loop {
  position: relative;
  margin: 1em 8.3333%;
  box-sizing: border-box;
  /* clear fix */
}
/* line 143, ../scss/spiff.scss */
body .wpsstm-playlists-loop:after {
  content: '';
  display: block;
  clear: both;
}
/* line 148, ../scss/spiff.scss */
body .wpsstm-playlists-loop .masonry-sizer,
body .wpsstm-playlists-loop .hentry {
  width: calc(25%);
}
/* line 152, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry {
  float: left;
  margin: 0;
  margin: .4em;
  width: calc(25% - .8em);
}
/* line 158, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .post-thumbnail {
  margin-bottom: 1em;
}
/* line 161, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-title {
  font-size: 1em;
  text-align: center;
}
/* line 163, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-title a {
  border-bottom: none;
}
/* line 173, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas {
  font-size: .8em;
}
/* line 177, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-sation-refresh {
  text-align: center;
  background-color: #fcf8e3;
  padding: .5em 0;
}
/* line 182, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags {
  text-align: center;
  padding: .5em;
  line-height: .8em;
}
/* line 186, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul {
  margin: 0;
  list-style-type: none;
}
/* line 190, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul li {
  display: inline;
}
/* line 192, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul li a {
  color: #d5c5bf;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: sans-serif;
}
/* line 197, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul li a:before {
  font-family: FontAwesome;
  content: "\f292";
}
/* line 211, ../scss/spiff.scss */
body #reddit-scrobbling-notice {
  background: rgba(252, 248, 227, 0.38);
  padding: 0.25em 1em;
}
