/* line 3, ../scss/spiff.scss */
.spiff-notice, body.page-template-homepage #wpsstm-picks-widgets .wpsstm-widget-picks .wpsstm-widget-more-picks {
  text-align: center;
  background-color: #fcf8e3;
  padding: .5em 0;
}

/* line 12, ../scss/spiff.scss */
body.page-template-homepage .entry-content {
  padding: 0 10% 2em;
}
/* line 15, ../scss/spiff.scss */
body.page-template-homepage #homepage-picks {
  padding: 1em;
  border: none;
}
/* line 21, ../scss/spiff.scss */
body.page-template-homepage #menu-home-picks {
  list-style: none;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.2em;
}
/* line 29, ../scss/spiff.scss */
body.page-template-homepage #menu-home-picks li {
  display: inline-block;
}
/* line 31, ../scss/spiff.scss */
body.page-template-homepage #menu-home-picks li a {
  text-decoration: underline;
  padding: .25em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 36, ../scss/spiff.scss */
body.page-template-homepage #menu-home-picks li:not(:hover):not(.ui-tabs-active) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 43, ../scss/spiff.scss */
body.page-template-homepage #homepage-picks {
  clear: both;
}
/* line 47, ../scss/spiff.scss */
body.page-template-homepage #wpsstm-picks-widgets {
  clear: both;
  position: relative;
}
/* line 50, ../scss/spiff.scss */
body.page-template-homepage #wpsstm-picks-widgets .wpsstm-widget-picks {
  position: relative;
  margin: 1em 8.3333%;
}
/* line 66, ../scss/spiff.scss */
body button {
  font-size: 1.4rem;
  padding: 0.8214em 1.5714em;
  background-color: rgba(51, 51, 51, 0.7);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 76, ../scss/spiff.scss */
body button:hover {
  background-color: rgba(51, 51, 51, 0.8);
}
/* line 83, ../scss/spiff.scss */
body.single article .post-thumbnail {
  padding-top: 1.5em;
}
/* line 85, ../scss/spiff.scss */
body.single article .post-thumbnail img {
  max-height: 150px;
  width: auto;
}
/* line 93, ../scss/spiff.scss */
body .wpsstm-playlists-loop {
  position: relative;
  margin: 1em 8.3333%;
  box-sizing: border-box;
  /* clear fix */
}
/* line 99, ../scss/spiff.scss */
body .wpsstm-playlists-loop:after {
  content: '';
  display: block;
  clear: both;
}
/* line 105, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry {
  position: relative;
}
/* line 107, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry figure {
  margin: 0;
  position: absolute;
}
/* line 110, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry figure img {
  vertical-align: top;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* line 117, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-title {
  font-size: 1em;
  text-align: center;
}
/* line 120, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-title a {
  border-bottom: none;
}
/* line 124, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-content {
  padding: .5em;
}
/* line 127, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas {
  font-size: .8em;
}
/* line 131, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags {
  text-align: right;
  padding: .5em;
  line-height: .8em;
  font-weight: 100;
  font-size: .9em;
}
/* line 137, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul {
  margin: 0;
  list-style-type: none;
}
/* line 141, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul li {
  display: inline;
}
/* line 143, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul li a {
  color: #d5c5bf;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: sans-serif;
}
/* line 148, ../scss/spiff.scss */
body .wpsstm-playlists-loop .hentry .entry-metas div.spiff-station-tags ul li a:before {
  font-family: FontAwesome;
  content: "\f292";
}
/* line 162, ../scss/spiff.scss */
body #reddit-scrobbling-notice {
  background: rgba(252, 248, 227, 0.38);
  padding: 0.25em 1em;
}

/* line 168, ../scss/spiff.scss */
#wpsstm-frontend-wizard-recent ul li a {
  border: none;
}
